<h2>Cart</h2>

<% if @cart.order_items.size == 0 %>
  <div class="center text-center">
    <p>Your shopping cart is currently empty.</p>  
    <p><%= link_to "Go back.", products_path %> </p>
  </div>
<% else %>

<ul>
  <% @cart.order_items.each do |order_item| %>
      <p>Item: <%= order_item.product.name %></p>
      <p>Price: <%= number_to_currency(order_item.total_price) %></p>
      <p>Quantity: <%= order_item.quantity %></p>
  <ul>
      <li>
        <%= link_to "Add (+1)", order_item_add_path(:id => order_item), method: :post %>
        <%= link_to "Reduce (-1)", order_item_reduce_path(:id => order_item), method: :post %>
      </li>
      <li>
        <%= link_to "Remove item", order_item_path(order_item), method: :delete %>
      </li>
    </ul>
    <hr>  
  <% end %>
</ul>
  <h3>Sub total: <%= number_to_currency(@cart.sub_total) %></h3>
  <%= link_to "Proceed to checkout", new_order_path %><br>
  <%= link_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
