
<h1>Edit <%= @category.name%></h1>

<div class="new-form">
    <%= form_with(model: @category) do |f| %>
        <%= render partial: "form", locals: {f: f}%>
        <div class="form-button"><%= f.submit %></div>
    <% end %>
</div>

<%= link_to "Delete", category_path(@category), method: :delete, data: {confirm: "Are you sure?"} %> <br>
<%= link_to "New Category", new_category_path %><br><br>
<%= link_to 'View All Categories', categories_path %>

