
<h1>Edit <%= @category.name%></h1>

<div class="new-form">
    <%= form_with(model: @category) do |f| %>
        <%= render partial: "form", locals: {f: f}%>
        <div class="form-button"><%= f.submit %></div>
    <% end %>
</div>

<%= link_to 'View Categories', categories_path %>