<%= display_h1_conditionally(@category) %>

<%= form_with(url: products_path, method: :get) do |f| %>
    <%= f.label :search, "Search products by name" %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
<% end %>

<ul>
<% @products.each do |product| %>
    <li><%= link_to product.name, product %> - <%= number_to_currency product.price %> each</li>
    <%= %>
<% end %>
</ul>
