<%= display_h1_conditionally(@category) %>

    <%= form_with(url: products_path, method: :get) do |f| %>
        <%= f.label :search, "Search products by name" %>
        <%= f.text_field :search %>
        <%= f.submit "Search" %>
    <% end %>

<div class="new-form">
    <% @products.each do |product| %>
        <p>Name: <%= link_to product.name, product %> </p>
        <p> Price: US<%= number_to_currency product.price %></p>
        <% if product.availability %>
            <p><%= button_to "Add to cart", order_items_path(:product_id => product.id) %></p> 
        <% else %>
            <p> "Out of stock"</p>
        <% end %>
        <hr>
    <% end %>
</div>


