
  <fieldset>
  <h2><%= @product.name %></h2> 
  
  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>
  
  <p>
    <strong>Availability:</strong>
    <%= @product.availability %>
  </p>
  
  <p>
    <strong>Price:</strong>
    <%= number_to_currency @product.price %>
  </p>

  
  <%= button_to "Add to cart", order_items_path(:product_id => @product.id)%>
  </fieldset>

<% unless user_admin %>
  <%= link_to 'Edit Product', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>
